## TPC2 tarefa 2 - Python

In [1]:
import csv
import numpy as np
import pandas as pd
pd.set_option('display.min_rows', 20)
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

### <font color = 'green'>World Cup with Pandas</font>
Solve the problems using the data in Pandas dataframes.

In [3]:
# Read the Players and Teams data into dataframes

#Leitura do csv players
df_dataplayers = pd.read_csv("Players.csv")
df_dataplayers.head()

#Leitura do csv teams
df_datateams = pd.read_csv("Teams.csv")
df_datateams.head()

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0

In [4]:
#Qual jogador (print do ultimo nome) de uma equipa com "ia" no nome, 
#que jogou menos de 200 minutos e fez mais de 100 passes?


# seleção da equipa com "ia" em interceção com seleção de minutos < 200 e em interceção com passes >100, dá o nome do jogador correspondente
df_dataplayers[df_dataplayers.team.str.contains("ia") & (df_dataplayers.minutes < 200) & (df_dataplayers.passes > 100)]

        surname    team    position  minutes  shots  passes  tackles  saves
431  Kuzmanovic  Serbia  midfielder      180      4     103        1      0

In [21]:
# Qual é o número médio de passes feitos pelos avançados? Pelos meio-campistas?
# Verifique se a resposta especifica qual é qual e não inclua outras
# posições no seu resultado.

#Guardar os dados dos midfielder numa variavel designada MeioCampistas; a média dos passes guardada na variavel Passes_média_m
MeioCampistas = df_dataplayers[df_dataplayers['position'] == 'midfielder']
Passes_média_m = MeioCampistas["passes"].mean()

#Guardar os dados dos fowards numa variavel designada Avançados; a média dos passes guardada na variavel Passes_média_a
Avançados = df_dataplayers[df_dataplayers['position'] == 'forward']
Passes_média_a = Avançados["passes"].mean()

print ("A média dos passes dos meio campistas é", Passes_média_m) 
print ("A média dos passes dos avaçandos é", Passes_média_a)

A média dos passes dos meio campistas é 95.2719298245614
A média dos passes dos avaçandos é 50.82517482517483

In [24]:
# Qual equipe tem a maior relação (razão, racio, etc) de goalsFor versus goalsAgainst?
# Imprima apenas o nome da equipa.
# Dica: adicione uma coluna "racio" ao dataframe das equipas e, depois, faça o seu "sort" e, 
# em seguida, use a head(1) ou tail(1) ...

#Adição da coluna "racio" ao dataframe das equipas 
df_datateams["racio"] = df_datateams["goalsFor"]/df_datateams["goalsAgainst"]

#Realização do "sort", por ordem decrescente para compreender qual a equipa com maior racio
df_datateams.sort_values(by=["racio"], inplace=True, ascending=False)

#A equipa da linha 1 é a equipa com maior racio, pelo que usamos o head (1)
df_datateams.head(1)

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,racio
2,Portugal,3,4,1,2,1,7,1,8,1,7.0

In [43]:
# Quantos jogadores que jogam numa equipa com ranking <10, 
# jogaram mais de 350 minutos?
# Lembrete: len() fornece o número de linhas que um dataframe contém

#primeiro selecionar as equipas
equipas = df_datateams[df_datateams.ranking <10]
#guardar nomes das equipas com ranking <10, utilizando totlist para colocar os dados numa lista
nome_team = equipas["team"].tolist()
#guardar dados dos jogadores >350 minutos numa variavel jogaminutos
jogaminutos = df_dataplayers[df_dataplayers.minutes >350]

#guardar equipa que tem jogadores a jogar mais de 350 minutos
jogador_team = jogaminutos["team"]

#criar lista vazia jogadores, ver se em nome_team existe jogadores com >350 minutos, utilizando a variavel anterior
#tirado de: https://pt.stackoverflow.com/questions/243921/criar-lista-com-conte%C3%BAdo-de-colunas
jogadores = []
for i in nome_team:
    for c in jogador_team:
        if i==c:
            jogadores.append(c)
            
    
print (len(jogadores))

54

### <font color = 'green'>Titanic with Pandas</font>
Solve the problems using the data in Pandas dataframe.

In [45]:
# Read the Titanic data into a dataframe

df_dataTitanic = pd.read_csv("Titanic.csv")
df_dataTitanic.head()

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no

In [46]:
# Quantas mulheres casadas embarcaram em Cherbourg?
# Nota: 'first' é uma função no Pandas, então 'titanic.first' irá gerar um erro;
# use 'titanic[' first ']

#selecionar os nomes que contém o Mrs que confirma o casamento, destes intersetar aos que embarcaram em Cherbourg 
#Contabilizar os embarcados

marriedwoman = df_dataTitanic[df_dataTitanic['first'].str.contains("Mrs") & (df_dataTitanic.embarked == 'Cherbourg')]
marriedwoman.embarked.count()

33

In [47]:
# Liste a tarifa média paga pelos passageiros em cada uma das cidades de embarque.
#média de todas as linhas da coluna embarked com a média de fare, retirado de: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.mean.html

df_dataTitanic.groupby(by='embarked')['fare'].mean()

embarked
Cherbourg      59.954144
Queenstown     13.276030
Southampton    27.243651
Name: fare, dtype: float64

In [55]:
# Os valores inexistentes (missing)  no Pandas são nulos (null), impressos como 'NaN' e
# a function pd.isnull(v) verifica se um valor é nulo.
# Que fração dos passageiros não tem valor para a idade?

nulos= df_dataTitanic['age'].isnull()

#ao fazer print dá os resultados falsos e os resultados verdadeiros, pelo que eu quero os verdadeiros
nulosTrue =[]
for l in nulos:
    if l == True:
        nulosTrue.append(l)

#Os valores totais inexistentes é dado por: (utilizou-se str para que estas estejam em strings)
numnulos_total = str(len(nulos))

# Os valores totais de inexistentes verdadeiros é dado por: 
num_nulos_true = str(len(nulosTrue))

print (num_nulos_true + "/" + numnulos_total)

177/891